footer.footer        <!-- footer라는 태그에 footer라는 클래스 추가-->
  .footer__icon      <!-- div에는 footer__icon이라는 클래스 추가 -->
    i.fab.fa-youtube 
  span.footer__text Wetube #{new Date().getFullYear()} &copy;