header.header
  .header__column <!--div 생략에 클래스네임 추가 -->
    a(href=routes.home)
      i.fab.fa-youtube
  .header__coulmn
    ul
      li
        a(href=routes.join) Join
      li
        a(href=routes.login) Log in