extends layouts/main.pug

block content
	.form-container
		form(action=routes.join, method="post")
			input(type="name", name="title", placeholder="Title")
			input(type="name", name="description", placeholder="Description")
			input(type="file", name="file", placeholder="Full Name")
			input(type="submit", value="Upload now")